@media only screen and (max-width: 600px) {
  .main-image {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .about-text-block {
    display: flex;
    justify-content: center;
    padding: 0 10%;
    padding-bottom: 50px;
  }
  .about-top-text {
    display: inline-block;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
  }
}
