$main-green: #16ffbd;
$roboto: "Roboto Mono", sans-serif;
$inter: "Inter", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

footer {
  background-color: black;
}

main {
  background-color: $main-green;
}

header {
  background-color: $main-green;
}

h1,
h2 {
  font-family: $roboto;
}

.navbar {
  text-align: center;
  font-family: $inter;
  justify-content: center;
  .navbar__list {
    a {
      text-decoration: none;
      color: white;
    }

    .footer__container {
  justify-content: center;
  text-align: center;
  .footer__container-title {
    font-family: $roboto;
    color: white;
  }
  .footer__container-list a {
    font-family: $inter;
    text-decoration: none;
    color: $main-green;
  }
}
