$main-green: #16ffbd;
$pink: #fe8cab;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Oswald", "Open Sans";
  letter-spacing: 3px;
}

footer {
  background-color: black;
}

.home-main {
  background-color: $main-green;
  font-family: "Oswald";
  justify-content: center;
  text-align: center;

  p {
    font-family: "Open Sans";
    text-transform: uppercase;
    transform: scaleY(0.9);
    font-weight: bold;
    margin: 20px;
    line-height: 250%;
  }
  a {
    font-family: "Open Sans";
    color: black;
  }
  .main__bottom {
    color: $main-green;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    &--decoration {
      text-decoration: line-through;
      text-decoration-color: $pink;
      background: black;
    }
  }
}
.about-main {
  background-color: $main-green;
  font-family: "Oswald";
  justify-content: center;
  text-align: center;

  h1,
  h2 {
    padding-top: 60px;
  }

  p {
    font-family: "Open Sans";
    font-weight: bold;
    margin: 30px;
    font-size: 14px;
  }
  a {
    font-family: "Open Sans";
    color: black;
  }
  .main__bottom {
    color: $main-green;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    &--decoration {
      text-decoration: line-through;
      text-decoration-color: $pink;
      background: black;
    }
  }
}
.header {
  background-color: $main-green;
  display: flex;
  flex-direction: column;
  &__menu {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    padding: 0px;
    margin-bottom: -30px;
  }
}

.navbar {
  text-align: center;
  font-family: "Oswald";
  justify-content: center;
  &__list {
    a {
      text-decoration: none;
      color: white;
      text-decoration-color: $pink;
    }
    span {
      color: $pink;
    }
    &-element--decoration {
      text-decoration: line-through;
      background-color: black;
    }
  }
}

.footer__container {
  justify-content: center;
  text-align: center;
  ul {
    margin-bottom: 40px;
    line-height: 30px;
  }
  h3 {
    margin-bottom: 20px;
    letter-spacing: 5px;
  }
  .footer__container-title {
    font-family: "Oswald";
    color: white;
  }
  .footer__container-list a {
    font-family: "Open Sans";
    text-decoration: none;
    color: $main-green;
  }
}
.footer__media-list {
  column-gap: 20px;
  margin-bottom: 80px;
}

span {
  background: $main-green;
  text-align: center;
}

h1,
h3,
a {
  transform: scaleY(0.9);
}

.main__images-container {
  h3 {
    margin-top: 20px;
    margin-bottom: 80px;
  }
}
.icons {
  padding-bottom: 40px;
}
.margin-top {
  margin-top: 40px;
}
