$main-green: #16ffbd;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Oswald", "Open Sans";
}

footer {
  background-color: black;
}

main {
  background-color: $main-green;
  font-family: "Oswald";
  justify-content: center;
  text-align: center;
  p {
    font-family: "Open Sans";
    text-transform: uppercase;
  }
}

header {
  background-color: $main-green;
}

.header {
  display: flex;
  flex-direction: column;

  .header__menu {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
  }
  .header__logo {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    padding: 0px;
    margin-bottom: -30px;
  }
}

.navbar {
  text-align: center;
  font-family: "Oswald";
  justify-content: center;
  .navbar__list {
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.footer__container {
  justify-content: center;
  text-align: center;
  .footer__container-title {
    font-family: "Oswald";
    color: white;
  }
  .footer__container-list a {
    font-family: "Open Sans";
    text-decoration: none;
    color: $main-green;
  }
}

span {
  background: $main-green;
  text-align: center;
}
